.porto {
  font-size: 190px;
  position: sticky;

  top: 180px;
  margin-bottom: 90px;
  margin-top: 100px;
  z-index: 0;
}
.relative {
  position: relative;
}
.main22 {
  position: relative;
}
.projectDiv1,
.projectDiv2 {
  z-index: 100;
  display: flex;
  height: 50vh;
  width: 35vw;
  margin: 0 12% auto;
  justify-content: center;
  background: var(--white);

  border-radius: 20px;
}
.projectDiv2 {
  margin: -20px 53% auto;
}
.food1,
.food2,
.dandelion1,
.dandelion2 {
  width: 30vw;

  height: 36vh;
  margin-top: 90px;

  border-radius: 20px;
  cursor: pointer;
}

.food1,
.dandelion1 {
  position: absolute;
}

.dandelion1:hover {
  opacity: 0;
}
.food1:hover {
  opacity: 0;
}

.link {
  cursor: pointer;
}

.siteName {
  width: 300px;
  position: absolute;
  margin-top: 30px;
  font-size: 26px;
}

.projectDivVideo {
  width: 900px;
  height: 700px;
  background: var(--white);
  height: 50vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  border-radius: 20px;
}

.video1 {
  border-radius: 20px;
  margin-top: 50px;
  width: 32vw;
  cursor: pointer;
  margin-bottom: 50px;
}

.videoDesc {
  font-size: 26px;
  margin-bottom: -20px;
}

.code {
  color: var(--orange);
  text-decoration: none;
  position: absolute;
  bottom: 12px;
  font-size: 21px;
  z-index: 1000;
}

.code12 {
  color: var(--orange);
  text-decoration: none;
  position: absolute;
  bottom: 8px;
  font-size: 21px;
  z-index: 1000;
}
.code12:hover {
  scale: 0.9;
}
.code:hover {
  scale: 0.9;
}

@media (max-width: 1000px) {
  .porto {
    position: static;
    font-size: 15vw;
  }
  .projectDiv1,
  .projectDiv2,
  .projectDivVideo {
    display: flex;
    height: 50vh;
    width: 95vw;
    margin: auto;
    justify-content: center;
    background: var(--white);

    border-radius: 20px;
  }

  .projectDivVideo {
    padding-top: 30px;
  }
  .projectDiv1,
  .projectDiv2,
  .projectDivVideo {
    margin-bottom: 30px;
    height: fit-content;
  }

  .video1,
  .food1,
  .food2,
  .dandelion1,
  .dandelion2 {
    width: 80vw;
    height: 50vh;
  }
  .food1:hover {
    opacity: 0;
  }

  .dandelion1:hover {
    opacity: 0;
  }

  .projectDiv1 {
    padding-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .video1,
  .food1,
  .food2,
  .dandelion1,
  .dandelion2 {
    width: 93vw;
    height: 52vw;
  }

  .porto {
    scroll-behavior: smooth;
  }

  .dandelion1,
  .dandelion2 {
    margin-bottom: 50px;
  }
  .porto {
    margin-top: 40px;
  }
}
