.porto {
  font-size: 190px;
  position: relative;

  /* top: 180px; */
  /* margin-bottom: 200px; */
  margin-top: 0;
  z-index: 0;
}
.relative {
  position: relative;
  width: 70vw;
  display: flex;
  margin: auto;
  flex-direction: row;
  gap: 4vw;
  border-bottom: 2px solid var(--orange);
}

.relative1 {
  position: relative;
  width: 70vw;
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  gap: 4vw;
  border-bottom: 2px solid var(--orange);
  align-items: center;
  justify-content: center;
}
.main22 {
  position: relative;
  margin-top: 5%;
}

.span {
  font-weight: bold;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;

  margin-left: 5%;
}
.projectDiv1,
.projectDiv2 {
  z-index: 100;
  display: flex;
  height: 50vh;
  width: 35vw;
  /* margin: 0 12% auto; */
  margin-left: 0;
  justify-content: center;
  background: transparent;

  border-radius: 10px;
  margin-left: 5%;
}
.projectDiv2 {
  margin: -20px 53% auto;
}
.food1,
.food2,
.dandelion1,
.dandelion2 {
  width: 30vw;

  height: 36vh;
  margin-top: 90px;

  border-radius: 10px;
  cursor: pointer;
}

.food1,
.dandelion1 {
  position: absolute;
}

.dandelion1:hover {
  opacity: 0;
}
.food1:hover {
  opacity: 0;
}

.link {
  cursor: pointer;
}

.siteName {
  width: 300px;
  position: absolute;
  margin-top: 30px;
  font-size: 26px;
}

.projectDivVideo {
  width: 900px;
  height: 700px;
  background: transparent;
  height: 50vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  border-radius: 20px;
}

.video1 {
  border-radius: 10px;
  margin-top: 50px;
  width: 30vw;
  margin-bottom: 0;
  cursor: pointer;
  /* margin-bottom: 50px; */
}

.videoDesc {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
}

.code {
  color: var(--orange);
  text-decoration: none;
  position: relative;
  bottom: 12px;
  font-size: 21px;
  z-index: 1000;
  border: 1px solid var(--orange);
  padding: 7px;
  border-radius: 5px;
  height: 28px;
}

.links_div {
  display: flex;

  flex-direction: row;
  gap: 10px;
  position: relative;
  margin-top: 10px;
  /* bottom: 40px; */
}

.site_link {
  color: var(--white);
  background: var(--orange);
  text-decoration: none;
  position: relative;
  bottom: 12px;
  font-size: 21px;
  z-index: 1000;
  border: 1px solid var(--orange);
  padding: 7px;
  border-radius: 5px;
  height: 28px;
}

.site_link:hover {
  transform: scale(0.9);
}

.description_p {
  font-size: 1.2rem;
  text-align: left;
}
.code12 {
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 8px;
  font-size: 21px;
  z-index: 1000;
  height: 30px;
}
.code12:hover {
  scale: 0.9;
}
.code:hover {
  scale: 0.9;
}

@media (max-width: 1000px) {
  .relative,
  .relative1 {
    flex-direction: column;
    overflow: hidden;
  }

  .porto {
    position: static;
    font-size: 15vw;
  }
  .projectDiv1,
  .projectDiv2,
  .projectDivVideo {
    display: flex;
    height: 50vh;
    width: 95vw;
    margin: auto;
    justify-content: center;
    background: transparent;

    border-radius: 20px;
    position: relative;
    margin-left: 0;
  }

  .description_p {
    font-size: 12px;
  }

  .projectDivVideo {
    padding-top: 30px;
  }
  .projectDiv1,
  .projectDiv2,
  .projectDivVideo {
    margin-bottom: 30px;
    height: fit-content;
    margin-left: 0;
  }

  .video1,
  .food1,
  .food2,
  .dandelion1,
  .dandelion2 {
    width: 80vw;
    height: 50vh;
    margin: 0;
  }
  .food1:hover {
    opacity: 0;
  }

  .dandelion1:hover {
    opacity: 0;
  }

  .projectDiv1 {
    padding-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .links_div {
    margin-top: 30px;
    position: absolute;
    transform: translate(-50%, 0%);
  }
  .description_p {
    margin: auto;
    width: 90%;
    text-align: center;
  }

  .videoDesc {
    margin-top: 0;
    text-align: center;
    font-size: 20px;
  }
  .description {
    width: 90%;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 50vh;
  }
  .relative,
  .relative1 {
    width: 100vw;
    margin: auto;
    margin-top: 5%;
    height: fit-content;
    gap: 0;
  }
  .video1,
  .food1,
  .food2,
  .dandelion1,
  .dandelion2 {
    width: 93vw;
    height: 52vw;
    margin: 0;
  }

  .code,
  .site_link {
    height: 18px;
    padding-top: 10px;
    font-size: 14px;
    min-width: 90px;
  }

  .porto {
    scroll-behavior: smooth;
  }

  .dandelion1,
  .dandelion2 {
    margin-bottom: 50px;
  }
  .porto {
    margin-top: 40px;
  }
  .projectDiv1 {
    margin: auto;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
