.skillsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  margin: auto;
  align-items: center;
}

.skill {
  font-size: 30px;
}

.title {
  font-size: 70px;
}

.skillImg {
  width: 70px;
  height: 70px;
}
.main {
  margin-top: 3%;
}
