.skills-div {
  margin-top: 10vh;
  position: relative;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.skills-p {
  font-size: 50px;
  margin-top: 0;
}

.skill-img {
  width: 50px;
}

.skills-subdiv {
  display: flex;
  width: 50vw;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  p {
    font-size: 12px;
  }
  .skills-p {
    font-size: 30px;
  }

  .skills-subdiv {
    width: 80vw;
  }

  .skill-img {
    width: 30px;
  }
}
