:root {
  --orange: rgb(249, 55, 0);
  --pink: rgb(255, 236, 221);
  --white: rgb(255, 246, 244);
}
html {
  box-sizing: border-box;
}
html,
body {
  background: var(--pink);
  color: var(--orange);
  margin: 0;
  padding: 0;

  min-height: 100%;
  min-width: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--pink);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--orange);
}
